body{
	// width: 50%;
	// margin: auto;
	// // background-image: url(img/wallpaper.jpg);
	// // background-repeat: repeat;
}

main{
	width: 50%;
	padding-top: 5em;
	// max-width: 400px;
	margin: auto;
}


